Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-neopixel==6.3.12
adafruit-circuitpython-pixelbuf==2.0.6
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
evdev==1.7.1
inquirerpy==0.3.4
numpy==2.2.0
pfzy==0.3.4
pillow==11.0.0
prompt_toolkit==3.0.48
pyftdi==0.56.0
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
typing_extensions==4.12.2
wcwidth==0.2.13
websockets==14.1
